
@{
  Layout = "_Layout";
}

<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-12">
      <h1>Add a new book</h1><br><br>
        <form action="/books" method="post">
          <h4>
          <label for="bookName">Enter the name of the book :</label>
          <input name= "bookName" type="text" required><br><br>
          <button class="button_home" type="submit">Valid</button>
          </h4>
        </form><br><br>
        <h3><a href='/librarians'>My Interface</a></h3>
    </div>
  </div>
</div>
