<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/img/icone.ico" type="image/x-icon">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/style.css">
    <title>Library</title>
</head>
<header>

  <div class="container">
    <div id="background">
      <p><img src="~/img/library.jpg"><p>
    </div>
  </div>
  <div class="container">
    <div class="jumbotron">
      <h1>Seattle SK Library</h1>
    </div>
  </div>
</header>
<body>
    @RenderBody()
</body>
</html>
