@{
  Layout = "_Layout";
}

<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-12">
      <h1>Edit Author</h1><br><br>
      <form action="/authors/@Model.GetId()" method="post">
        <label for="newName">New Name</label>
        <input type="text" name="newName" value="@Model.GetName()"><br><br>
        <button class="button_basic" type="submit">Edit</button><br><br>
        <h2><a href='/authors'>Authors's List</a></h2>
    </div>
  </div>
</div>
