
@{
  Layout = "_Layout";
}

<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-12">
      <h1>Add an Author</h1><br><br>
        <form action="/authors" method="post">
          <h4>
          <label for="authorName">Enter the name of the Author :</label>
          <input name= "authorName" type="text" required>
          <button class="button_home" type="submit">Valid</button>
          </h4>
        </form><br><br>
        <h3><a href='/librarians'>My Interface</a></h3>
    </div>
  </div>
</div>
