@{
  Layout = "_Layout";
}

<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-12">
      <h1>Edit @Model.GetName()</h1><br><br>

      <a href='/authors/@Model.GetId()/edit'>Edit this Item</a>
    </div>
  </div>
</div>
