@{
  Layout = "_Layout";
}

<div class="container">
  <div class="row">
    <div class="col-md-12">
    <h1>
      Welcome @Model.GetName()</a>
    </h1><br><br>
    <h2>See Availability of your Book</h2>
    <h2>Checkout a book</h2>
    <h3>Click  <a href='/clients/@Model.GetId()'>here</a>  to see informations about your account</h3><br><br><br>


     <h2><a href='/'>Home</a></h2>
    </div>
  </div>
</div>
