@{
  Layout = "_Layout";
}

<div class="container">
  <div class="row">
    <div class="col-md-12">
    <a href='/clients/@Model.GetId()'>@Model.GetName()</a>


     <h2><a href='/'>Home</a></h2>
    </div>
  </div>
</div>
