@{
  Layout = "_Layout";
}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>@Model.GetName()</h1><br>


      <h2>List of my checkout </h2>
      <h2> Link to check out a book</h2><br>
       <h2><a href='/'>Home</a></h2>
    </div>
  </div>
</div>
