
@{
  Layout = "_Layout";
}

<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-6">
      <h1>Books</h1><br><br>
      <h2>Add a new book</h2><br><br>
        <a href='/books/new'>Add</a>
    </div>
    <div class="col-md-6">
      <h1>Authors</h1><br><br>
      <h2>Add an Author</h2><br><br>
        <a href='/authors/new'>Add</a>
    </div>
  </div>
</div>
